<!DOCTYPE html>
<html lang="en">

<!--
In this template you can use the following variables, with the Jinja2 sytax: 
    title:      A string containing the title of the blog post.
    date:       A string containing the publish date.
    content:    A string containing the html of the actual blog post.
-->

<head>
    <title>{{title}}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
</head>

<body>
    <h1>{{title}}</h1>
    <h3>{{date}}</h3>

    {{content|safe}}
</body>

</html>